.App {
  text-align: center;
}

.App-logo {
  width: 70vmin;
  pointer-events: none;
  border-radius: 50%;
  border-style: solid;
  border-color: #f5e44f;
  border-width: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-border-shine infinite 3s linear;
    animation: App-logo-spin infinite 3s ease-in-out;
  }
}

.App-header {
  background-color: #7614bd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Press Start 2P';
  color: #f0e112;
}

.App-link {
  color: #f0e112;
}

@keyframes App-logo-spin {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }

  /*from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }*/
}

@keyframes App-logo-border-shine {
  0% {
    color: #f0e112;
  }
  50% {
    color: #110f01;
  }
  100% {
    color: #f0e112;
  }
}

a {
  font-family: 'Press Start 2P';
}
